body {
  margin: 0;
  background-color: #0c0c0c;
}

.row-container {
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.head-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 2px solid #e5e5e5;
  border-radius: 20px;
  border-radius: 20px;
  min-width: 350px;
  margin: 30px;
  height: 20%;
}

.main-card {
  border: 2px solid #e5e5e5;
  border-radius: 20px;
  min-width: 350px;
}

.profile-picture {
  border-radius: 40%;
  width: 120px;
  height: 140px;
}

.profile-picture-small {
  border-radius: 40%;
  width: 100px;
  height: 120px;
}

.page {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 95%;
  height: 100%;
  margin: 70px;
}

.page-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  &:hover {
    cursor: pointer;
  }
}
